fastapi[all]==0.109.0
uvicorn[standard]==0.27.0
gunicorn==21.2.0
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dotenv
email-validator
sqlalchemy
psycopg2-binary
prometheus_client
numpy
torch
torchvision
tensorflow
psutil
kafka-python-ng
confluent_kafka
flask